.left {
	background-color: #586e15;
    width: 16%;

	float:left;
	padding: 5% 0;
}
.left img{
    width: 70%;
    border: solid 2px #000000;
    margin-left: 10%;
    
}
.right {
    width: 75%;
    padding-left: 2%;
    display: inline-block;
}
.active{
    background-color: white;
    color: darkblue;
    
}


nav a{
    display: inline-block;
    margin: 3%;
    
    padding: 1%;
    border-radius: 7px;
    text-decoration: none;
    color: black;
    width: 10%;
    height: 1%;
    background-color: rgba(218,234,213,0.40);
    
    

}
nav{
    text-align: center;
}
h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: x-large;
    padding-top: 5%;
}
header{
    background-image: url(http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg);
}

body{
    margin: 1%;
    
}

table{
    
    padding: 0% 7% 0% 7%;
    width: 80%;
    

}
th,tr,td{
    text-align: center;
}
th:first-child,tr td:first-child{
    text-align: left;
    padding-left: 1%;
    width: 5%;
}

td{
    
    width: 2%;
    
    background: #b9eeb9; 
    padding: 1.5% 1% 1.5% 1%;
    
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80%;
    
    font-weight: 800;

}
th{
    
    padding: 2% 1% 2% 1%;;
    background-color:#709e25;;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    border-top-right-radius:3%;
    border-top-left-radius:3%;
}
tr:first-child{
    opacity: 1;
}
tr{
    opacity: 0.7;
}
    

table tr:hover{
    opacity: 1;
}
